.subDescricao {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--texto-secundario);
}

.infos {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 42px;
  text-align: left;
  margin-top: 15px;
  background-color: var(--bg-card);
  border: 2px solid var(--cor-button);
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--texto-p);
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0px 0px 5px 0px #c5c5c58a;

  background-image: url('../assets/img/mais.svg');
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 30px 30px;
}

.botao:hover {
  transform: translateY(2px);
}

.botao:active {
  transform: translateY(-2px);
}